Package: kptn-flammes
Version: 1.0-1
Architecture: all
Maintainer: KPTN <contact@kptn.org>
Installed-Size: 48317
Recommends: sox, libsox-fmt-all
Section: sound
Priority: extra
Homepage: https://kptn.org
Description: Flammes is the first album of KPTN
